########
# IDE #
######
.idea
.vscode

#########
# Misc #
#######
*.log
.cache

#######
# OS #
#####
.DS_Store
.Trashes
Thumbs.db

############
# Project #
##########
.env
coverage
declarations/generated
dist
node_modules
package-lock.json
yarn.lock