@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff;
  font-family: $font-base;
}

.header__logo {
  @include animation-rotate(14s);

  height: 270px;
}

.header__info {
  max-width: 400px;
}

.header__title {
  margin-bottom: 10px;
  font-size: 46px;
}

.header__description {
  font-size: 22px;
}

@media #{$device-tablet_portrait},
  #{$device-tablet_landscape},
  #{$device-mobile_portrait},
  #{$device-mobile_landscape} {
  .header {
    flex-direction: column;
    justify-content: center;
  }

  .header__logo {
    margin-bottom: 20px;
  }

  .header__info {
    text-align: center;
  }
}
