.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.header__logo {
  height: 30vmin;
}

.header__info {
  max-width: 400px;
}

.header__title {
  margin-bottom: 10px;
  font-size: 5vmin;
}

.header__description {
  font-size: 2.5vmin;
}
