@import '@styles/variables.scss';

.header {
  max-width: 400px;
  color: #fff;
  font-family: $font-base;
}

.header__title {
  margin-bottom: 10px;
  font-size: 46px;
}

.header__description {
  font-size: 22px;
}

@media #{$device-tablet}, #{$device-mobile} {
  .header {
    text-align: center;
  }
}
